<div class="container">
  <mat-tab-group  #tabGroup>
    <mat-tab label="Formulario">
      <div class="container">
        <form [formGroup]="Form" >
          <div class="form-fields">
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input
                matInput
                placeholder="Obligatorio"
                [formControl]="name"
                required
              />
              @if (name.invalid) {
              <mat-error>{{ errorMessage("name") }}</mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <mat-label>Descripcion</mat-label>
              <input
                matInput
                placeholder="Obligatorio"
                [formControl]="description"
                required
              />
              @if (description.invalid) {
              <mat-error>{{ errorMessage("description") }}</mat-error>
              }
            </mat-form-field>
            <mat-form-field>
              <mat-label>Icono</mat-label>
              <input
                matInput
                placeholder="Obligatorio"
                [formControl]="icon"
                required
              />
              @if (icon.invalid) {
              <mat-error>{{ errorMessage("icon") }}</mat-error>
              }
            </mat-form-field>
          </div>
          <div>
            <app-button-submit
              [disabled]="disabled"
              [accion] = "accion"
              (deshabilitar)="deshabilitar($event)"
              [Form]="Form"
              [tableData]="tableData"
              endpoint="service"
              (actualizarData)="actualizarData($event)"
            ></app-button-submit>
          </div>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Listado">
      <div class="container">
        <app-material-table
          *ngIf="!cargando"
          (disabled)="deshabilitar($event)"
          (accion)="cambiarAccion($event)"
          endpoint="service"
          [columns]="tableColumns"
          [data]="tableData"
          [Form]="Form"
          [tabGroup] ="tabGroup"
        >
        </app-material-table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
