.custom-field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  border: 2px dashed #3f51b5; /* Azul de Material Design */
  padding: 16px;
  border-radius: 8px;
  background-color: #f3f6f9; /* Fondo suave */
  transition: border-color 0.3s;
  width: 17%;
}

.custom-field-wrapper:hover {
  border-color: #5c6bc0; /* Azul más oscuro al pasar el ratón */
}

.custom-label {
  font-size: 16px;
  font-weight: 500;
  color: #3f51b5;
  margin-bottom: 8px;
}

/* Ocultar el input file nativo */
.custom-input {
  display: none; /* Ocultar el input file nativo */
}

/* Botón personalizado compacto */
.custom-file-btn {
  padding: 8px 15px; /* Reducido el padding */
  border: none;
  border-radius: 6px; /* Menos radio de bordes */
  background-color: #9c27b0; /* Púrpura */
  color: white;
  font-size: 14px; /* Reducido el tamaño de la fuente */
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, box-shadow 0.3s;
  display: inline-block;
  white-space: nowrap; /* Evitar que el texto se rompa en varias líneas */
}

.custom-file-btn:hover {
  background-color: #7b1fa2; /* Púrpura más oscuro en hover */
}

.custom-file-btn:focus {
  outline: none;
  box-shadow: 0 0 8px rgba(156, 39, 176, 0.6); /* Efecto de sombra al hacer foco */
}

img {
  margin-top: 12px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
