
<p>Hola, {{ authStore.userData()?.name }}</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()"  class="login-container">
  <mat-form-field appearance="fill" class="form-control">
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      [formControl]="email"
      (blur)="updateErrorMessage()"
      required
    />
    @if (email.invalid) {
    <mat-error>{{ errorMessage("email") }}</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-control">
    <mat-label>Password</mat-label>
    <input
      matInput
      type="password"
      placeholder="password"
      [formControl]="password"
      (blur)="updateErrorMessage()"
      required
    />
    @if (password.invalid) {
    <mat-error>{{ errorMessage("password") }}</mat-error>
    }
  </mat-form-field>
  <button mat-flat-button color="primary" type="submit" class="form-control">Submit</button>
</form>


