<app-video-modal />
<app-user-info [setting]="homeModel.setting" [user]="homeModel.user" />
<app-about [setting]="homeModel.setting" [user]="homeModel.user" />
<app-quality
  [educations]="homeModel.educations"
  [experiences]="homeModel.experiences"
/>
<app-skill [skills]="homeModel.skills" />
<app-service [services]="homeModel.services" />
<app-portfolio
  [portfolios]="homeModel.portfolios"
  [categories]="homeModel.categories"
/>
<app-testimonial [reviewers]="homeModel.reviewers" />
<app-contact />
<app-footer [setting]="homeModel.setting" />

<!-- Scroll to Bottom -->
<i class="fa fa-2x fa-angle-down text-white scroll-to-bottom"></i>

<!-- Back to Top -->
<a href="#" class="btn btn-outline-dark px-0 back-to-top"
  ><i class="fa fa-angle-double-up"></i
></a>
