<!-- Contact Start -->
<div class="container-fluid py-5" id="contact">
  <div class="container">
    <div
      class="position-relative d-flex align-items-center justify-content-center"
    >
      <h1
        class="display-1 text-uppercase text-white"
        style="-webkit-text-stroke: 1px #dee2e6"
      >
        Contact
      </h1>
      <h1 class="position-absolute text-uppercase text-primary">Contact Me</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="contact-form text-center">
          <form id="contactForm" method="POST" action="">
            <div class="form-row">
              <div class="control-group col-sm-6">
                <input
                  type="text"
                  class="form-control p-4"
                  id="name"
                  placeholder="Your Name"
                  required
                  name="name"
                  value=""
                />
              </div>
              <div class="control-group col-sm-6">
                <input
                  type="email"
                  class="form-control p-4"
                  id="email"
                  placeholder="Your Email"
                  value=""
                  required
                  name="email"
                />
              </div>
            </div>
            <br />
            <div class="control-group">
              <input
                type="text"
                class="form-control p-4"
                id="subject"
                placeholder="Subject"
                value=""
                required
                name="subject_mail"
              />
            </div>
            <br />
            <div class="control-group">
              <textarea
                class="form-control py-3 px-4"
                rows="5"
                id="message"
                placeholder="Message"
                name="content"
                required
              ></textarea>
            </div>
            <div>
              <br />
              <button
                class="btn btn-outline-primary"
                type="submit"
                id="sendMessageButton"
              >
                Send Message
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
