<!-- Contact Start -->
<div class="container-fluid py-5" id="contact">
  <div class="container">
    <div
      class="position-relative d-flex align-items-center justify-content-center"
    >
      <h1
        class="display-1 text-uppercase text-white"
        style="-webkit-text-stroke: 1px #dee2e6"
      >
        Contact
      </h1>
      <h1 class="position-absolute text-uppercase text-primary">Contact Me</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="contact-form text-center">
          <form id="contactForm" [formGroup]="Form">
            <div class="form-row">
              <mat-form-field
                class="control-group col-sm-6"
              >
                <input
                  matInput
                  placeholder="Your Name"
                  formControlName="name"
                  required
                />
                <mat-error *ngIf="name.invalid">{{
                  errorMessage("name")
                }}</mat-error>
              </mat-form-field>

              <mat-form-field class="control-group col-sm-6">
                <input
                  matInput
                  placeholder="Your Email"
                  formControlName="email"
                  required
                />
                <mat-error *ngIf="email.invalid">{{
                  errorMessage("email")
                }}</mat-error>
              </mat-form-field>
            </div>

            <br />
            <div class="control-group">
              <mat-form-field class="col-sm-12">
                <input
                  matInput
                  id="subject"
                  placeholder="Subject"
                  required
                  formControlName="subject_mail"
                />
                <mat-error *ngIf="subject_mail.invalid">{{
                  errorMessage("subject_mail")
                }}</mat-error>
              </mat-form-field>
            </div>

            <br />
            <div class="control-group">
              <mat-form-field class="col-sm-12">
                <textarea
                  matInput
                  rows="5"
                  placeholder="Message"
                  formControlName="content"
                  required
                ></textarea>
                <mat-error *ngIf="content.invalid">{{
                  errorMessage("content")
                }}</mat-error>
              </mat-form-field>
            </div>

            <div>
              <br />
              <button
                class="btn btn-outline-primary"
                id="sendMessageButton"
                [disabled]="disabled"
                type="button"
                (click)="guardar()"
              >
                Send Message
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
