<div class="container-scroller">
  <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo" href=""><img src="assets/admin/images/logo.svg" alt="logo" /></a>
      <a class="navbar-brand brand-logo-mini" href="index.html"><img src="assets/admin/images/logo-mini.svg" alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" aria-label="minimizar" data-toggle="minimize">
        <span class="mdi mdi-menu"></span>
      </button>
      <div class="search-field d-none d-md-block">
        <form class="d-flex align-items-center h-100"  >
          <div class="input-group">
            <div class="input-group-prepend bg-transparent">
              <i class="input-group-text border-0 mdi mdi-magnify"></i>
            </div>
            <input type="text" class="form-control bg-transparent border-0" name="search" placeholder="Search projects" required>
          </div>
        </form>
      </div>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link">
            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
          </a>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" aria-label="offcanvas" type="button" data-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">
            <span class="menu-title">Home</span>
            <i class="mdi mdi-home menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">
            <span class="menu-title">Aboutme</span>
            <i class="mdi mdi-contacts menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/qualification">
            <span class="menu-title">Qualifications</span>
            <i class="mdi mdi-crosshairs-gps menu-icon"></i>
          </a>
        </li>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <!-- Nodo para hojas sin hijos -->
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <button mat-icon-button disabled aria-label="menu"></button>
            <a class="nav-link" [routerLink]="node.link">
              <span class="menu-title">{{ node.name }}</span>
            </a>
          </mat-tree-node>

          <!-- Nodo para elementos expandibles -->
          <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
              <mat-icon>
                {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
              </mat-icon>
            </button>
            {{ node.name }}
          </mat-tree-node>
        </mat-tree>

        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/service">
            <span class="menu-title">Services</span>
            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/skill">
            <span class="menu-title">Skills</span>
            <i class="mdi mdi-puzzle menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">
            <span class="menu-title">Settings</span>
            <i class="mdi mdi-settings menu-icon"></i>
          </a>
        </li>

        <li class="nav-item sidebar-actions">
          <span class="nav-link">

          <form >
            <button class="btn btn-block btn-lg btn-danger mt-4">SignOut</button>
          </form>
          </span>
        </li>
      </ul>
    </nav>
    <div class="main-panel">
      <div class="content-wrapper">

        <router-outlet />

</div>
</div>
</div>
<!-- page-body-wrapper ends -->
</div>
